@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #262336;
  --copy-color: #030303;
  --accent-color: #f8911c;
  --accent-off-color: #b84f2f;
  --primary-color: #f8911c;
  --secondary-color: #f8911c;
}


body {
  background-color: #262336;
  background-image: url("/images/texture.svg");
  background-repeat: repeat;
  background-attachment: fixed;
  max-width: 100vw;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {

.main-title {
  @apply text-5xl uppercase text-accent;
}

.main-subtitle {
  @apply mb-3 mt-5 text-3xl font-medium text-accent-off;
}

}